@model teste_cliente.Models.AplicacaoTrabalho

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AplicacaoTrabalho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAplicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAplicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOferta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOferta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCandidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCandidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAplicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAplicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AplicacaoAceite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AplicacaoAceite)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdAplicacao }) |
    <a asp-action="Index">Back to List</a>
</div>
