@model IEnumerable<BibliotecaMVCEF.Models.Obras>

@{
    ViewData["Title"] = "Index";
}

<h2>Controle das Obras</h2>

<p>
    <a class= "btn btn-primary p-1" asp-action="Create">Create New</a>
</p>
<table id="myTableO" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                <a class= "btn btn-primary p-1" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class= "btn btn-danger p-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts{
<script>
    $(document).ready(function () {
    
        $(document).ready( function () {
    var table =$('#myTableO').DataTable();
} );

  
  </script>
}